<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Participant Form</title>
</head>
<body>
    <h2>Participant Form</h2>
    <form method="POST">
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name" required>
        </div>
        <div>
            <label for="Father_name">Father's Name:</label>
            <input type="text" name="Father_name" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" required>
        </div>
        <div>
            <label for="city">City:</label>
            <input type="text" name="city" required>
        </div>
        <div>
            <label for="country">Country:</label>
            <input type="text" name="country" required>
        </div>
        <div>
            <label for="phone">Phone:</label>
            <input type="text" name="phone" required>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
