<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <div class="container">
    <h2>Register</h2>

    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="message {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <!-- Registration Form -->
    <form action="{{ url_for('register') }}" method="POST">
        <label for="username">Username:</label>
        <input type="username" name="username" required><br>

        <label for="email">Email:</label>
        <input type="email" name="email" required><br>

        <label for="password">Password:</label>
        <input type="password" name="password" required><br>

        <label for="confirm_password">Confirm Password:</label>
        <input type="password" name="confirm_password" required><br>

        <button type="submit">Register</button>
    </form>
</div>
